{
  "env": {
    "browser": true,
    "node": true
  },
  "extends": [
    "airbnb-base",
    "plugin:@typescript-eslint/eslint-recommended",
    "plugin:@typescript-eslint/recommended",
    "plugin:@typescript-eslint/recommended-requiring-type-checking",
    "plugin:import/typescript",
    "plugin:prettier/recommended"
  ],
  "parser": "@typescript-eslint/parser",
  "parserOptions": {
    "project": "./tsconfig.eslint.json"
  },
  "plugins": ["@typescript-eslint"],
  "rules": {
    "@typescript-eslint/no-floating-promises": "off",
    "@typescript-eslint/no-shadow": "error",
    "@typescript-eslint/restrict-template-expressions": "off",
    "import/extensions": ["error", "never"],
    "import/no-cycle": "off",
    "no-console": "off",
    "no-shadow": "off"
  }
}
